
@{
    ViewData["Title"] = "Settings";
}
@model SettingsModel

<form asp-controller="Home" asp-action="Index" method="post">
    <div>
        <hr />
        <div>
            IP адрес: @Html.DropDownList("IP", ViewBag.Ips as SelectList)
        </div>
        <div>
            Порт: <input id="Port" type="text" disabled="disabled" asp-for="Port" />
        </div>
        <div>
            <input id="ListenLocalhost" type="checkbox" name="ListenLocalhost" asp-for="ListenLocalhost" /> <label for="ListenLocalhost">Слушать localhost</label>
        </div>
        <hr />
        <div>
            <input id="CheckUpdate" type="checkbox" name="CheckUpdate" asp-for="CheckUpdate" /> <label for="CheckUpdate">Проверять обновления</label>
        </div>
        @if (!string.IsNullOrEmpty(Model.LatestVersion) && !string.IsNullOrEmpty(Model.DownloadLink)) {
            <div>
                <b>Доступна новая версия: @(Model.LatestVersion)</b> - <a href="@(Model.DownloadLink)">Скачать</a>
            </div>
        }
        <hr />
        <div>
            Порт AceStream: <input id="AceStreamPort" type="text" asp-for="AceStreamPort" /> <input id="CheckASButton" type="button" value="Проверить" OnClick="window.open('@ViewData["AceStreamCheck"]')" />
        </div>
        <div>Режим логирования: @Html.DropDownList("Log", ViewBag.Logs as SelectList)</div>
        <hr />
        <div>
            User-Agent:<br /><input id="UserAgent" type="text" style="width: 100%" asp-for="UserAgent" />
        </div>
        <hr />
        <div>
            <input id="ProxyEnable" type="checkbox" name="ProxyEnable" asp-for="ProxyEnable" /> <label for="ProxyEnable">Включить Proxy</label><br />
            Адрес: <input id="ProxyAddress" type="text" style="width: 30%" asp-for="ProxyAddress" /> | Порт: <input id="ProxyPort" type="text" style="width: 10%" asp-for="ProxyPort" /><br /><br />
            <div>Тип Proxy:@Html.DropDownList("ProxyType", ViewBag.ProxyType as SelectList)</div>
            Имя: <input id="ProxyUserName" type="text" asp-for="ProxyUserName" /><br />
            Пароль: <input id="ProxyPassword" type="text" asp-for="ProxyPassword" /><br />
            <input id="ProxyNotDefaultEnable" type="checkbox" name="ProxyNotDefaultEnable" asp-for="ProxyNotDefaultEnable" /> <label for="ProxyNotDefaultEnable">Включить Proxy только для специальных запросов</label><br />
        </div>
        <hr />
        <div>
            <input id="DeveloperMode" type="checkbox" name="DeveloperMode" asp-for="DeveloperMode" /> <label for="DeveloperMode">Режим разработчика</label>
        </div>
        <hr />
        <div>
            <input id="ResetSettings" type="reset" value="Отмена" /><input id="SubmitSettings" type="submit" value="Сохранить" />
        </div>
    </div>
</form>