
@{
    ViewData["Title"] = "Settings";
}
@model SettingsModel

<form asp-controller="Home" asp-action="Index" method="post">
    <div>
        <div>IP адрес: @Html.DropDownList("IP", ViewBag.Ips as SelectList)</div>
        <div>
            Порт: <input id="Port" type="text" value="@ViewData["Port"]" disabled="disabled" asp-for="Port" />
        </div>
        <hr />
        @*<div>
            <input id="UseProxy" type="checkbox" name="UseProxy" @if ((bool)ViewData["UseProxy"]) { <text> checked="checked" </text> } asp-for="UseProxy" /> <label for="UseProxy">Use Proxy</label>
        </div>
        <div>
            THVP Auto Start <input id="THVPAutoStart" type="checkbox" @if ((bool) ViewData["THVPAutoStart"]) {<text>checked="checked"</text>}/>
        </div>*@
        <div>
            Порт AceStream: <input id="AceStreamPort" type="text" value="@ViewData["AceStreamPort"]" asp-for="AceStreamPort" /><input id="CheckASButton" type="button" value="Проверить" OnClick="window.open('@ViewData["AceStreamCheck"]')" />
        </div>
        <div>
            <input id="CheckUpdate" type="checkbox" name="CheckUpdate" @if ((bool)ViewData["CheckUpdate"]) { <text> checked="checked" </text> } /> <label for="CheckUpdate">Проверять обновления</label>
        </div>
        <div>Режим логирования: @Html.DropDownList("Log", ViewBag.Logs as SelectList)</div>
        <hr />
        <div>
            User-Agent:<br /><input id="UserAgent" type="text" value="@ViewData["UserAgent"]" style="width: 100%" asp-for="UserAgent" />
        </div>
        <hr />
        <div>
            <input id="DeveloperMode" type="checkbox" name="DeveloperMode" @if ((bool)ViewData["DeveloperMode"]) { <text> checked="checked" </text> } asp-for="DeveloperMode" /> <label for="DeveloperMode">Режим разработчика</label>
        </div>
        <hr />
        <div>
            <input id="ResetSettings" type="reset" value="Отмена" /><input id="SubmitSettings" type="submit" value="Сохранить" />
        </div>
    </div>
</form>