
@{
    ViewData["Title"] = "Settings";
}
@model RemoteFork.Models.SettingsModel

<form asp-controller="Home" asp-action="Index" method="post">
    <div>
        <div>IP: @Html.DropDownList("IP", ViewBag.Ips as SelectList)</div>
        <div>
            PORT: <input id="Port" type="text" value="@ViewData["Port"]" disabled="disabled" asp-for="Port" />
        </div>
        <hr />
        <div>
            <input id="UseProxy" type="checkbox" name="UseProxy" @if ((bool)ViewData["UseProxy"]) { <text> checked="checked" </text>  } asp-for="UseProxy" /> <label for="UseProxy">Use Proxy</label>
        </div>
        @*<div>THVP Auto Start <input id="THVPAutoStart" type="checkbox" @if ((bool)ViewData["THVPAutoStart"]){<text>checked="checked"</text>}/></div>*@
        <div>
            AceStream Port: <input id="AceStreamPort" type="text" value="@ViewData["AceStreamPort"]" asp-for="AceStreamPort" />
        </div>
        <div>
            <input id="CheckUpdate" type="checkbox" name="CheckUpdate" @if ((bool)ViewData["CheckUpdate"]) { <text> checked="checked" </text>  } /> <label for="CheckUpdate">Check for updates</label>
        </div>
        <div>Log Level: @Html.DropDownList("Log", ViewBag.Logs as SelectList)</div>
        <hr />
        <div>
            UserAgent:<br /><input id="UserAgent" type="text" value="@ViewData["UserAgent"]" style="width: 100%" asp-for="UserAgent" />
        </div>
        <hr />
        <div>
            <input id="ResetSettings" type="reset" value="reset" /><input id="SubmitSettings" type="submit" value="submit" />
        </div>
    </div>
</form>